/*
 * The contents of this file are subject to the terms of the
 * Common Development and Distribution License, Version 1.0 only
 * (the "License").  You may not use this file except in compliance
 * with the License.
 *
 * See the file LICENSE in this distribution for details.
 * A copy of the CDDL is also available via the Internet at
 * http://www.opensource.org/licenses/cddl1.txt
 *
 * When distributing Covered Code, include this CDDL HEADER in each
 * file and include the contents of the LICENSE file from this
 * distribution.
 */

body {
    font-family:sans-serif;
    font-size:12px;
    padding: none;
    background-color: lightyellow;
}

td { vertical-align:top; }
h1 { font-family: sans-serif; }

.newfile {
    border: 2px solid red;
    background-color: yellow;
    padding: 0.3em 0.3em 0.3em 0.3em;
    display: block;
}

.expl {
    font-size:smaller;
}

#infobox {
    float:left;
    background-color:#DADADA;
    border: 1px solid darkgray;
    padding: 0.3em 0.3em 0.3em 0.3em;
    margin-right:1em;
    width: 200px;
}

input {
    border: 1px solid black;
}
